:root {
	--card-background-color: rgb(36, 36, 36);
}

body {
	background-color: black;
	color: whitesmoke;
}


.card {
	background-color: var(--card-background-color);
	border-radius: 10px;
	padding: 4px 1em;
}

#package-list {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.package-card > h2 {
	margin: 0;
}

.package-card > .version {
	float: right;
	text-align: right;
}

.instance-selector {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.instance-card > h3 {
	margin: 0;
}