:root {
	--text-color: whitesmoke;
	--card-background-color: rgb(36, 36, 36);
	--input-border-color: rgb(29, 29, 29);
	--input-background-color: rgb(85, 85, 85);
	--input-background-color-hightlight: rgb(126, 126, 126);
	--nav-bar-height: 80px;
	appearance: none;
}

body {
	background-color: black;
	color: whitesmoke;
	margin: 0;
}

.card {
	background-color: var(--card-background-color);
	border-radius: 10px;
	padding: 4px 1em;
}

#package-list {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.package-card > h2 {
	margin: 0;
}

.package-card > .version {
	float: right;
	text-align: right;
}

.instance-selector {
	max-width: 40%;
	height: 80%;
	margin: auto;
}

.instance-content {
	min-height: 50%;
}

.instance-list {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.instance-card > h3 {
	margin: 0;
}

.instance-creator {
	display: block;
	max-width: 60%;
	margin: auto;
}

.instance-creator h2 {
	text-align: center;
}

.instance-creator label {
	width: 100%;
	display: block;
	box-sizing: border-box;
	font-size: large;
	margin-bottom: 3px;
	margin-left: 0.5em;
}

.instance-creator input {
	width: 100%;
	box-sizing: border-box;
	color: var(--text-color);
	background-color: var(--input-background-color);
	padding: 10px;
	border-style: none;
	border-radius: 10px;
}

.instance-creator .system {
	width: auto;
}

.instance-creator .system-file-chooser {
	display: flex;
	gap: 5px;
}

.instance-creator .entry {
	margin: 10px 0;
}

.navigation {
	display: flex;
	width: 100%;
	height: var(--nav-bar-height);
	box-sizing: border-box;
	background-color: blue;
	top: 0px !important;
}
.fixed {
	position: fixed;
}
.filler {
	visibility: hidden;
}

.navigation h1 {
	margin: auto 10px;
}

.nav-button {
	color: var(--text-color);
	height: 100%;
	background-color: transparent;
	border-radius: 0;
	border:0;
}

.nav-button:hover {
	animation-name: bar-icon-fade;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes bar-icon-fade {
	from {background-color: transparent;}
	to {background-color: rgba(255, 255, 255, 0.212);}
  }

input[type=button] {
	width: 100%;
	box-sizing: border-box;
	color: var(--text-color);
	background-color: var(--input-background-color);
	padding: 10px;
	border-style: none;
	border-radius: 10px;
}

input[type=button]:hover {
	animation-name: input-hover-fade;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
}

@keyframes input-hover-fade {
	from {background-color: var(--input-background-color);}
	to {background-color: var(--input-background-color-hightlight);}
}